nav {
  margin: 15px 0;
  padding: 0 15px;
  background-color: #26a69a;
  border-radius: 15px;

  .brand-logo {
    font-weight: 800;
    color: rgb(0 0 0 / 42%)
  }
}

.row .col.s11 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
